<div class="layout-wrapper">
  <header>
    <div class="logo">Logo</div>
  </header>
  <div class="content-wrapper">
    <div class="side-bar">
      <div class="menu-wrapper">
        <div class="menu-item">Dashboard</div>
        <div class="menu-item">Library</div>
        <div class="menu-item">Search</div>
        <div class="menu-item">Favorite</div>
        <div class="menu-item">Logout</div>
      </div>
    </div>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
